@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_atoms/buttons';

@import './_molecules/tabBar';

@import './_layout/ionPage';

html {
    font-size: 62.5%;
}

ion-content {
    --overflow: hidden;
    overflow: auto;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    body {
        @apply text-16 font-raleway leading-[1.3];
    }
}